<!-- ********************** -->
<body>
    

<div class="main">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-lg-15 pt-0 text-center ml-5">
                <h1 class="pt-5 ml-5 shadow-lg p-3 mb-5 rounded"> Salutem - Informação sobre saúde em primeiro lugar </h1>
                <button class="btn-lg btn-info">Entrar</button>
            </div>
        </div>
    </div>
</div>

<!-- *********** Informações sobre a rede *********** -->


<div class="container my-5">
    <div class="row py-4">

        <div class="col-md-6 mb-4 my-lg-auto">
           <h1 class="text-dark font-weight-bold mb-3">Sobre nossa Rede Social</h1> 
           <p class="mb-4">
            A Rede Social Salutem tem como seu principal objetivo democratizar o acesso à informações relacionadas a saúde, diminuindo o compartilhamento de fake news. A Salutem possui um  diferencial de conectar profissionais da saúde verificados para atender os diversos usuários, contando com diversas temáticas para a resolução de dúvidas geradas pelas incertezas e facilitando o acesso a conteúdos especificos. O usuário pode frequentar diversos grupos para compartilhar e solucionar suas dúvidas em um ambiente seguro e acessível. 
           </p>
        </div>

        <div class="col-md-6">
            <img class="img-group" src="https://i.imgur.com/xmKrgND.png" alt="">
        </div>
    </div>
</div>




<div class="row text-center">
    <div class="col-md-12">
        <div id="feature" class="offset">
            <div class="jumbotron">
                <div class="narrow">
                    <div class="col-md-12">
                        <h3 class="heading mb-5">
                            Venha compartilhar suas dúvidas!
                        </h3>
                <div class="heading-underline">
                         </div>
                    </div>
                    <div class="row text-center">

                        
                 <div class="col-md-4">
                 <div class="feature">
                    <i class="fa fa-user-md fa-3x" aria-hidden="true"></i>
                    <h3>Médicos</h3>
                     <p>printing and typesetting industry</p>  </div>
                     </div>

                        <div class="col-md-4 ">
                     <div class="feature ml-5">
                        <i class="fa fa-flask fa-3x" aria-hidden="true"></i>
                     <h3>Ciência</h3>
                     <p>printing and typesetting industry</p>  </div>
                      </div>

             <div class="col-md-4">
                <div class="feature ml-5">
                    <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                            <h3>Grupos</h3>
                             <p>printing and typesetting industry</p>  </div>
                             </div>
                           
                            
                        

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--************ teste *****************-->

    <div class="row text-center">
        <div class="col-md-12 mb-5">
            <h1 class="display-4">
                Conheça o time
            </h1>
        </div>
    </div>




    <div class="container d-flex">
       <div class="container-fluid d-flex ml-4">

            <div class="card-container m-2 ">
                <div class=" card card-front" >
                    <img src="https://i.imgur.com/n5aFFzy.jpg" class="card-img-top" alt="...">
                    <h3>Giullia</h3>
                  </div>
            
                  <div class=" card card-back" >
                    
                    <div class="card-body bg-secondary">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                      
                    </div>
                  </div>
            </div>

            <div class="card-container m-2 ">
                <div class=" card card-front" >
                    <img src="https://i.imgur.com/xJUNhrB.jpg" class="card-img-top" alt="...">
                    <h3>Gustavo</h3>
                  </div>
            
                  <div class=" card card-back" >
                    
                    <div class="card-body bg-secondary">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                      
                    </div>
                  </div>
            </div>


            <div class="card-container m-2">
                <div class=" card card-front" >
                    <img src="https://i.imgur.com/XE0B7wC.jpg" class="card-img-top" alt="...">
                    <h3>Isadora</h3>
                  </div>
            
                  <div class=" card card-back" >
                    
                    <div class="card-body bg-secondary">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                      
                    </div>
                  </div>
            </div>
            <div class="card-container m-2 ">
                <div class=" card card-front" >
                    <img src="https://i.imgur.com/GVKRnK8.jpg" class="card-img-top" alt="...">
                    <h3>Higa</h3>
                  </div>
            
                  <div class=" card card-back" >
                    
                    <div class="card-body bg-secondary">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                      
                    </div>
                  </div>
            </div>
            <div class="card-container m-2 ">
                <div class=" card card-front" >
                    <img src="https://i.imgur.com/ehaY6u6.jpg" class="card-img-top" alt="...">
                    <h3>Vinicius</h3>
                  </div>
            
                  <div class=" card card-back" >
                    
                    <div class="card-body bg-secondary">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                      
                    </div>
                  </div>
            </div>
            </div>

</div>

</body>