.text-center my-3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-perfil{
    width: 150pt;
    height: 150pt;
    object-fit: cover;
    border-style: groove;
    border-color: black;
}

.img-capa{
    width: 100%;
    height: 280px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(https://i.imgur.com/K2PSelr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.card-pos{
    width: 100%;
    border-radius: 20rem;
}

.container-img{
    position: relative;
   
}

.grupo-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 30px;
}

.slide-grupo{
    width: 240px;
    height: 320px;
}
.container-img img{
    display: block;
    margin: 0 auto;
}

.card-body{
    background-color: #fff;
   /* box-shadow: 5px 5px 5px rgb(12, 77, 97); */
}
.container-img .fa-cog{
    position: absolute;
    bottom: 0;
    right: 0;
}


.categoriaAnimacao:hover { 
    transition:0.2s;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.1);
    transform: scale(0.98); 
}

.categoriaAnimacao:not(:hover) {
    transition: 0.2s;
}

.bord-card{
    border-radius: 20px;
}

.bord-card2{
    width: 240px;
    height: 280px;
    border-radius: 20px;
}


.fs-10{
    font-size: 10pt;
}

.fs-12{
    font-size: 12pt;
}

.fs-14{
    font-size: 14pt;
}

.fs-16{
    font-size: 16pt;
}

.fs-26{
    font-size: 26pt;
}


.bg-card{
    background-color: #fff;
}



.icon-hover:hover{
    opacity: 0.5;
    cursor: pointer;
}
.bg{
    background:  -webkit-linear-gradient(right, #959697 , #dededf );
}
