.bg
{
 background:  -webkit-linear-gradient(right, #94B3FF , #b3eaf1 );
   /*background-color: #97e4ee;*/

}

.fs-12{
    font-size: 12pt;
}

.fs-10{
    font-size: 10pt;
}

.fs-16{
    font-size: 16pt;
}

.botao:hover{
    opacity: 0.5;
}

.alinhar{
    display: flex;
    align-items: center;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.img-usuario{
    width: 23px;
    height: 23px;
    object-fit: cover;
}

.imglogo{
    width: 60px;
    height: 60px;
    align-items: flex-end;
    object-fit: cover;
}

.borda{
    border-radius: 33px;
}

a{
    cursor: pointer;
}

h6 {
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    h6 {
        display: none;
    }

    span {
        font-size: 20pt;
    }
}

@media screen and (min-width: 760px) {
    .margem-pesquisa{
        margin-left: 100px;
    }

    .margem-icones{
        margin-right: 30px;
    }
}

