img.bg {

    min-height: 100%;
    min-width: 1024px;
  

    width: 100%;
    height: auto;
  

    position: fixed;
    top: 0;
    left: 0;
  }
  
  @media screen and (max-width: 1024px){
    img.bg {
      left: 50%;
      margin-left: -512px;
    }
  }




.bgc{
    background-color: rgb(255, 255, 255);
    border-radius: 6%;
    width: 510px;
    height: 55rem;
    border-color: rgb(5, 5, 5);
    border-style: double;
}

.fs-40{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40pt;
}

.fs-15{
    font-size: 15pt;
}

.borda{
    border-radius: 20px;
}

.imglogo{
    width: 50px;
    height: 50px;
    background-color: #253C76;
    border-radius: 50%;

}


