.bg{

    height: 100vh;

    background-image: url(https://i.imgur.com/9wjFpDi.png);
    background-repeat: no-repeat;
    background-size: 180pc;
    background-position: center;
    background-attachment: relative;
    
}


.fs-40{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40pt;
}

.fs-15{
    font-size: 15pt;
}

.bgc{
    background-color: rgb(255, 255, 255);
    border-radius: 6%;
    width: 510px;
    height: 55rem;
    border-color: rgb(5, 5, 5);
    border-style: double;
}

.input-crm{
    visibility: hidden;
}

.imglogo{
    width: 50px;
    height: 50px;
    background-color: #253C76;
    border-radius: 50%;

}


