.card{

    border-radius: 20pt;
    width: 98rem;
    height: 35rem;
    border-color: black;
    border-style: none;
}


.titulocard{
    width: 98rem;
}

.card-img-top{
    
    width: 97.9rem;
    height: 19rem;
    border-radius: 22pt;
    border-color: rgb(5, 5, 5);
    align-items: center;
    object-fit: cover;
}

.ft5{
    font-size: 5rem;
}