<div class="container-fluid my-3">
    <div class="row d-flex justify-content-center">

        <div class="">
            <h1 class="ft5 d-flex justify-content-center">Lista de Grupos</h1>

            <div class="card-columns">
                <div class="card" *ngFor='let item of listaGrupos | orderBy : key : reverse'>
                    <img class="card-img-top" src="{{item.urlImagemGrupo}}" alt="Imagem de capa do card">
                    <div class="p-2 mb-0">
                        <blockquote class="blockquote mb-0 card-body">
                            <h5 class="card-title">{{item.temaGrupo}}</h5>
                            <p class="card-text">{{item.descricaoGrupo}}</p>
                            <div class="card-footer">
                                <p class="card-text"><small class="text-muted">{{item.categoriaGrupo}}</small></p>
                            </div>

                            <a class="btn btn-outline-success mr-3 " [routerLink]="['/grupos', item.idGrupo]">Entrar</a>

                            <a class="btn btn-outline-info mr-3"
                                [routerLink]="['/grupo-editar', item.idGrupo]">Atualizar</a>

                            <a class="btn btn-danger" (click)="deletarGrupo(item.idGrupo)">Deletar</a>
                        </blockquote>
                    </div>
                </div>
            </div>

            <!--<div class="card mb-3 shadow d-flex justify-content-center mt-5"
                *ngFor='let item of listaGrupos | orderBy : key : reverse'>
                <img class="card-img-top" src="{{item.urlImagemGrupo}}" alt="Imagem de capa do card">
                
                <div class="card-body">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-8">

                            <div class="card-header titulocard">
                                <h5 class="card-title">{{item.temaGrupo}}</h5>
                            </div>
                            <p class="card-text">{{item.descricaoGrupo}}</p>
                            <p class="card-text"><small class="text-muted">{{item.categoriaGrupo}}</small></p>
                        </div>

                        <div class="col-md-4 mt-5">
                            <div class="d-flex justify-content-end align-items-end mr-2 mt-5">

                                <button class="btn btn-outline-success mr-3 "
                                    [routerLink]="['/grupos', item.idGrupo]">Entrar</button>
                                <button class="btn btn-outline-info mr-3"
                                    [routerLink]="['/grupo-editar', item.idGrupo]">Atualizar</button>
                                <button class="btn btn-danger" (click)="deletarGrupo(item.idGrupo)">Deletar</button>
                            </div>
                        </div>
                    </div>-->

        </div>
    </div>
</div>