.img-grp{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.btn-join{
    background:  -webkit-linear-gradient(right, #94B3FF , #b3eaf1 );
}

h5{
    color: black;
}

@media screen and (max-width: 1040px) {
    .img-grp{
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    @media screen and (max-width: 570px) {
        small{
            display: none;
        }
    
        @media screen and (max-width: 370px){
            .img-grp{
                width: 30px;
                height: 30px;
                object-fit: cover;
            }
    
            h6{
                font-size: 8pt;
            }
        }
    }
}