<div class="container-fluid my-2">
    <div class="row d-flex justify-content-center">

        <div class="row d-flex justify-content-center">
            <h1 class="ft5 d-flex justify-content-center mb-0">Lista de Grupos</h1>

            <div class="row d-flex justify-content-center">
                <div class="col-md-11">
                    <div class="card-columns">
                        <div class="card shadow mb-2 mt-3" *ngFor='let item of listaGrupos | orderBy : key : reverse'>
                            <img class="card-img-top" src="{{item.urlImagemGrupo}}" alt="Imagem do grupo">
                            <div class="mb-3">
                                <blockquote class="blockquote mb-0 card-body">
                                    <h5 class="card-title">{{item.temaGrupo}}</h5>
                                    <p class="card-text">{{item.descricaoGrupo}}</p>
                                    <div class="card-footer">
                                        <p class="card-text"><small class="text-muted">{{item.categoriaGrupo}}</small>
                                        </p>
                                    </div>
                                </blockquote>
                                <div class="row d-flex justify-content-end align-items-end mr-2">
                                    <a class="btn btn-outline-success mr-3 "
                                        (click)="entrar(item.idGrupo)">Entrar</a>

                                    <a class="btn btn-outline-info mr-3"
                                        [routerLink]="['/grupo-editar', item.idGrupo]">Atualizar</a>

                                    <a class="btn btn-danger" (click)="deletarGrupo(item.idGrupo)">Deletar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>