
<div class="main">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-mb-6 text-center">
                <h1 class="pt-5 ml-5 shadow-lg p-3 mb-5 rounded"> Bem vindx a Salutem</h1>
                <h4>Conheça nossa Rede Social</h4>
                <div class="row justify-content-center">
                    <div class="col-mb4 mr-2">
                        <button class="btn btn-info m-4"style="width:150px;">Entrar</button>
                    </div>
                
                    <div class="col-mb4">
                        <button class="btn btn-info m-4"style="width:150px;">Cadastrar</button>
                    </div>
                
                </div>
            </div>
            
        </div>
    </div>

</div>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col m-4 mr-3"><img src="https://i.imgur.com/oLPWZCY.png" style="width: 20rem;"></div>
      <div class="col m-4 mr-3"><img src="https://i.imgur.com/RrYLyL9.png" style="width: 20rem;"></div>
      <div class="col m-4"><img src="https://i.imgur.com/JD6uft5.png" style="width: 20rem;"></div>
    
    </div>
  </div>

