.main{
    background-image : url(https://i.imgur.com/h3iiKOj.jpg) ;
    height: 58rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.row{

    margin-top: 14rem;
    margin-left: 14rem;
}

.info{
    font-size: 20px;
}
.title1{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.img{
    width: 350px;
    object-fit: cover;
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
   
}