.bg-principal{
    background-color: rgba(12, 130, 185, 0.3);
}

.h-minimo{
    height: 100vh;
}

.borda{
    border-radius: 6%;
}

.entrar-tamanho{
    border-radius: 6%;
    height: 550px;
    width: 400px;
}

.fs-16{
    font-size: 16pt;
}

